html, body {
    margin: 0;
    padding: 0;
    height: 100svh;
    height: 100vh; /* Fallback for browsers that don't support svh */
    overflow: hidden;
}

body {
    background-color: green;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

header,
footer {
    background-color: orange;
    height: 42px;
    flex-shrink: 0;
}

.main {
    background-color: beige;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 0;
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.75em;
}

p {
    font-size: 1.5em;
    text-align: center;
    margin-top: 2em;
    font-weight: bold;
    font-family: sans-serif;
}

.wizardcontainer {
    display: flex;
}

.wizardcontainer img {
    width: 50%;
}

/* ------------------------ Projects Banner ------------------------ */

.banner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.banner a img {
    width: 100%;
    height: auto;
}

.banner a {
    width: 100%;
    text-align: center;
}

/* ------------------------ End Of Projects Banner ------------------------ */